.wrapper{
    width: 700px;
    margin: 25px auto;
    padding: 1rem 2rem;
    background-color: #f1f1f1;
    box-sizing: border-box;
    font-family: sans-serif;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #62238e;
    position: relative;
    margin: 10px 15px;
    padding: 0;
}
.item{
    position: relative;
}
.item span{
    font-size: 12px;
    display: flex;
    color: white;
    width: 13px;
    height: 13px;
    padding: 3px 3px;
    background-color: #4169e1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12px;
    right: -25px;
}