* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background-color: #eef2f5; }

.wrapper {
  width: 1000px;
  margin: 0 auto; }
  .wrapper .header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0; }
    .wrapper .header .title {
      font-size: 26px;
      font-weight: 600;
      color: #2f2f2f; }
    .wrapper .header button {
      padding: 4px 8px;
      border: 1px solid;
      border-radius: 4px;
      background-color: transparent;
      outline: none;
      cursor: pointer; }
  .wrapper .block {
    display: flex;
    justify-content: space-between; }
    .wrapper .block .block-left {
      width: 48.5%;
      border-radius: 5px;
      background-color: white;
      box-shadow: 3px 3px 5px #e4e0dd;
      position: relative; }
      .wrapper .block .block-left .play {
        cursor: pointer;
        padding: 3px 5px 3px 5px;
        border-radius: 4px;
        position: absolute;
        right: 45%;
        top: 30%;
        display: flex; }
      .wrapper .block .block-left .live {
        background-color: #ed2939;
        color: white;
        padding: 5px 10px 5px 10px;
        border-radius: 4px;
        position: absolute;
        right: 15px;
        top: 10px;
        display: flex;
        cursor: pointer; }
        .wrapper .block .block-left .live div {
          background-color: white;
          border-radius: 50%;
          width: 11px;
          height: 11px;
          margin-right: 10px;
          margin-top: 3px; }
      .wrapper .block .block-left .img {
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px; }
      .wrapper .block .block-left .block-content {
        padding: 0 1rem; }
        .wrapper .block .block-left .block-content h3 {
          font-size: 16px;
          font-weight: 800;
          color: #2f2f2f;
          margin: 10px 0; }
        .wrapper .block .block-left .block-content p {
          margin-left: 5px;
          margin-bottom: 15px;
          font-weight: 600;
          color: #393939; }
        .wrapper .block .block-left .block-content .block-footer {
          display: flex;
          justify-content: space-between;
          position: relative; }
          .wrapper .block .block-left .block-content .block-footer span {
            color: #848484;
            margin-left: 5px;
            font-size: 13px;
            display: inline-block;
            width: 220px;
            margin-bottom: 8px; }
          .wrapper .block .block-left .block-content .block-footer .social {
            display: flex;
            justify-content: right;
            width: 50px;
            margin-right: 15px;
            position: absolute;
            top: -20px;
            right: 0; }
            .wrapper .block .block-left .block-content .block-footer .social a img {
              background-color: #898989;
              margin-left: 15px;
              width: 20px;
              height: 20px;
              border-radius: 5px;
              padding: 3px; }
    .wrapper .block .block-right {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-between;
      width: 48.5%; }
      .wrapper .block .block-right .box {
        width: 48%;
        border-radius: 5px;
        background-color: white;
        box-shadow: 3px 3px 5px #e4e0dd;
        position: relative; }
        .wrapper .block .block-right .box .play {
          width: 50px;
          cursor: pointer;
          padding: 3px 4px 3px 4px;
          border-radius: 4px;
          position: absolute;
          right: 35%;
          top: 20%;
          display: flex; }
        .wrapper .block .block-right .box .anons {
          background-color: #ed2939;
          color: white;
          padding: 5px 10px 5px 10px;
          border-radius: 4px;
          position: absolute;
          right: 0;
          top: 0;
          display: flex;
          cursor: pointer;
          font-size: 12px; }
          .wrapper .block .block-right .box .anons img {
            width: 12px;
            margin-right: 5px; }
        .wrapper .block .block-right .box img {
          width: 100%;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px; }
        .wrapper .block .block-right .box .box-content {
          padding: 0.8rem; }
          .wrapper .block .block-right .box .box-content p {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #636363; }
          .wrapper .block .block-right .box .box-content .box-footer {
            display: flex;
            justify-content: space-between; }
            .wrapper .block .block-right .box .box-content .box-footer .like {
              display: flex;
              align-items: center;
              font-size: 12px;
              color: #9a9a9a; }
              .wrapper .block .block-right .box .box-content .box-footer .like img {
                cursor: pointer;
                width: 14px;
                margin-right: 4px; }
              .wrapper .block .block-right .box .box-content .box-footer .like span {
                margin-right: 10px; }
            .wrapper .block .block-right .box .box-content .box-footer .eye {
              display: flex;
              align-items: center;
              font-size: 12px;
              color: #9a9a9a; }
              .wrapper .block .block-right .box .box-content .box-footer .eye img {
                cursor: pointer;
                width: 14px;
                margin-right: 4px; }

/*# sourceMappingURL=main.css.map */
