body{
    background-color: #dee8ff !important;
}
.avatar{
    width: 70px;
    height: 70px;
    padding: 15px;
    margin: 25px 0 20px 0;
}
img{
    width: 35px;
    height: 35px;
    padding: 8px;
    cursor: pointer;
}
.box {
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgb(218, 226, 218);
}